html {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  
}

html, body{
  scroll-snap-type: block proximity;
}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
}

.night-theme {
  --theme-background-color: #323456;
  --theme-navbar-color: #202547;
  --theme-navbar-highlight-color: #191919;
  --theme-cloud-1-color: #dde7ee;
  --theme-cloud-2-color: #57728f;
  --theme-cloud-3-color: #2e5073;
  --theme-scrollbar-track-color: #191919;
}

.day-theme {
  --theme-background-color: #979eff;
  --theme-navbar-color: #7E7BFF;
  --theme-navbar-highlight-color: #3E3C98;
  --theme-cloud-1-color: white;
  --theme-cloud-2-color: #cff9ff;
  --theme-cloud-3-color: #c0d7ff;
  --theme-scrollbar-track-color: #323456;
}

/* width */
::-webkit-scrollbar {
  width: 6px;
}

/* Track */
::-webkit-scrollbar-track {
  background: var(--theme-scrollbar-track-color);
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: var(--theme-navbar-color);
  border-radius: 0.25rem;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(theme-navbar-highlight-color);
}

/* navigation bar section starts here */

.navbar-theme-toggle-container {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  width: 100%;
  z-index: 4;
}
.navbar {
  position: relative;
  padding: 1rem;
  width: fit-content;
  display: flex;
  transition: top 0.3s;
  background-color: var(--theme-background-color);
  z-index: 4;
}

.desktop-logo { 
  display: block;
  width: fit-content;
  position: absolute;
  left: 0;
  padding: 1.75rem 0 0 2rem;
  font-size: 2rem;
  color: white;
  font-weight: bold;
  z-index: 5;
}

.mobile-logo {
  display: none;
}

.mobile-menu-label {
  display: block;
  z-index: 5;
}

#mobile-menu-toggle {
  width: 0px;
  height: 0px;
}

.nav-list {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 0 1rem 0 1rem;
  margin-right: 5rem;
  border-radius: 5rem;
  background-color: var(--theme-navbar-color);
}

.menu-item-container {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0.5rem 0 0.5rem 0;
  padding: 0.5rem 3rem 0.5rem 3rem;
}

.menu-item-container:hover {
  background-color: var(--theme-navbar-highlight-color);
  border-radius: 5rem;
}

.menu-item-container-style {
  background-color: var(--theme-navbar-highlight-color);
  border-radius: 5rem;
}

.menu-item-container a{
  text-decoration: none;
}

.menu-item{
  display: flex;
  cursor: pointer;
  color: white;
  font-size: 1.5rem;
  font-weight: bold;
}

.theme-toggle-container {
  position: absolute;
  display: block;
  top: -0.5rem;
  right: 0;
  margin: 0 1rem 0 0;
  width: fit-content;
}

.theme-toggle {
  width: 0px;
  height: 0px;
}

.mobile-theme-label {
  display: none;
}

.mobile-theme-toggle {
  width: 0px;
  height: 0px;
}

.night-theme-icon {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 5;
}

.night-theme-svg-color {
  fill: var(--theme-navbar-color);
}

.night-theme-icon:hover > .night-theme-svg-color {
  fill: var(--theme-navbar-highlight-color);
}

.theme-toggle:checked ~ .night-theme-icon {
  display: none;
}

.day-theme-icon {
  display: none;
}

.theme-toggle:checked ~ .day-theme-icon {
  position: relative;
  display: block;
  width: 70px;
  height: 70px;
  cursor: pointer;
  z-index: 5;
}

.day-theme-svg-color {
  fill: var(--theme-navbar-color);
}

.day-theme-icon:hover > .day-theme-svg-color {
  fill: var(--theme-navbar-highlight-color);
}

.home-svg {
  display: none;
}

.about-svg {
  display: none;
}

.team-svg {
  display: none;
}

.projects-svg {
  display: none;
}

.open-menu-svg {
  display: none;
}

.close-menu-svg {
  display: none;
}

@media (max-width: 1080px) {

  .menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem 0 0.5rem 0;
    padding: 0.25rem 1.5rem 0.25rem 1.5rem;
  }

  .desktop-logo { 
    font-size: 1.75rem;
  }

  .day-theme-icon {
    width: 60px;
    height: 60px;
  }

  
  .theme-toggle:checked ~ .day-theme-icon {
    width: 60px;
    height: 60px;
  }

  .night-theme-icon {
    width: 60px;
    height: 60px;
  }
}

@media (max-width: 870px) {

  .navbar-theme-toggle-container {
    justify-content: space-between;
    align-items: center;
  }

  .navbar {
    position: absolute;
    display: none;
    flex-direction: column;
    align-items: center;
    padding: 0 0 0 0.5rem;
    top: 3rem;
    right: 0;
    border-radius: 0;
    width: fit-content;
    background-color: var(--theme-navbar-color);
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    z-index: 5;
  }

  .desktop-logo {
    display: flex;
    text-align: center;
    width: 100%;
    justify-content: center;
    padding: 0.5rem;
    background-color: var(--theme-navbar-color);
    box-shadow: 0 2px 2px rgba(0,0,0,0.25);
    z-index: 5;
  }

  .nav-list {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    width: fit-content;
    background-color: var(--theme-navbar-color);
    border-radius: 0;
    padding: 0;
    margin: 0;
  }

  .menu-item-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem;
  }

  .menu-item-container-style {
    border-radius: 0.5rem;
  }

  .menu-item-container:hover {
    border-radius: 0.5rem;
  }

  .menu-item-container a{
    text-decoration: none;
  }

  .menu-item {
    font-size: 1.5rem;
  }

  .menu-item-after {
    display: flex;
    cursor: pointer;
    color: white;
    font-size: 1.25rem;
    font-weight: bold;
    padding-left: 0.75rem;
  }

  .home-svg {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  
  .about-svg {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  
  .team-svg {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }
  
  .projects-svg {
    display: block;
    width: 20px;
    height: 20px;
    margin-right: 0.5rem;
  }

  .open-menu-svg {
    display: block;
    width: 36px;
    height: 36px;
    margin: 0.75rem 0.25rem 0rem 0.25rem;
    color: white;
  }

  .close-menu-svg {
    display: none;
    width: 32px;
    height: 32px;
    margin: 1rem 0.25rem 0.25rem 0.25rem;
    color: white;
  }

  .mobile-menu-label {
    width: fit-content;
    display: block;
    position: absolute;
    top: 0;
    right: 0;
  }
  
  #mobile-menu-toggle {
    display: block;
  }

  #mobile-menu-toggle:checked + .navbar {
    display: flex;
    width: 100%;
  }

  .theme-toggle:checked ~ .day-theme-icon {
    bottom: 0.75rem;
    left: 0.75rem;
    width: 36px;
    height: 36px;
  }

  .night-theme-icon {
    bottom: 0.75rem;
    left: 0.75rem;
    width: 36px;
    height: 36px;
  }

  .mobile-theme-label-container {
    display: none;
  }

  .theme-toggle-container {
    position: absolute;
    display: block;
    top: 0;
    left: 0;
    margin: 0;
    width: fit-content;
  }

}

@media (max-width: 400px) {
  .mobile-menu-item-after {
    font-size: 1rem;
  }
}

.section-home{
  background-color: var(--theme-background-color);
  height: 100vh;
}

.home-slogan {
  top: 1rem;
  position: relative;
  display: flex;
  justify-content: center;
  width: 100%;
  font-size: 2.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.home-projects-button-container {
  top: 2rem;
  position: relative;
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.home-projects-button {
  display: block;
  border-radius: 4rem;
  width: fit-content;
  margin-top: 1rem;
  padding: 1rem 4rem 1rem 4rem; 
  background-color: var(--theme-navbar-color);
  border: none;
  cursor: pointer;
}

.home-projects-button:hover { 
  background-color: var(--theme-navbar-highlight-color);
}

.home-projects-message {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  color: white;
  text-align: center;
}

.home-projects-link {
  font-size: 1.25rem;
  font-weight: bold;
  color: white;
  text-align: center;
  text-decoration: none;
}

.coco-point {
  position: relative;
  top: 1rem;
  width: 10rem;
}

@media (max-width: 872px){
  .home-slogan {
    top: 6rem;
    font-size: 1.875rem;
  }
  .home-projects-button-container {
    top: 6.5rem;
  }

  .home-projects-message {
    margin-top: 0.5rem;
    font-size: 1.5rem;
  }

  .home-projects-link {
    font-size: 1.2rem;
  }
}

@media (max-width: 460px){

  .home-slogan {
    top: 8rem;
    font-size: 1.5rem;
    padding: 0 2rem 0 2rem;
  }

  .home-projects-message {
    margin-top: 1rem;
    font-size: 1rem;
  }

  .home-projects-button-container {
    top: 8rem;
  }
  
  .home-projects-button {
    padding: 1rem 2.5rem 1rem 2.5rem; 
  }

  .coco-point {
    width: 10rem;
  }
}

.clouds {
  display: flex;
  height: 100%;
  width: fit-content;
  flex-direction: column;  
  justify-content: end;
}

.cloud-layer-1 {
  position: fixed;
  background-size: 100%;
  bottom: 0;
  /*top: 16rem;*/
  z-index: 3;
}

.cloud-layer-1-path {
  fill: var(--theme-cloud-1-color);
}

.cloud-layer-2 {
  position: fixed;
  background-size: 100%;
  bottom: 45px;
  /*top: 8rem;*/
  z-index: 2;
}

.cloud-layer-2-path {
  fill: var(--theme-cloud-2-color);
}

.cloud-layer-3 {
  position: fixed;
  background-size: 100%;
  bottom: 90px;
  /*top: 4rem;*/
  z-index: 1;
}

.cloud-layer-3-path {
  fill: var(--theme-cloud-3-color);
}

@media (max-width: 500px){
  .cloud-layer-1 {
    bottom: 0;
  }
  
  .cloud-layer-2 {
    bottom: 25px;
  }

  
  .cloud-layer-3 {
    bottom: 50px;
  }
}

/* section home ends here */

/* section about starts here */

.section-about {
  background-color: var(--theme-background-color);
  height: 100vh;
}

.about-container {
  position: relative;
  top: 2rem;
  display: flex;
  flex-direction: column;
  padding: 0rem 6rem 0 6rem;
  text-align: left;
  width: fit-content;
}

.about-description{
  color: white;
  text-align: left;
  font-size: 1.25rem;
  font-weight: bold;
}

.code-coogs-1 {
  color: #75E4FF;
}

.code-coogs-2 {
  color: #CF6679;
}

.code-coogs-btn-container {
  position: relative;
  display: flex;
  width: fit-content;
}

.coogs-button {
  background-color: var(--theme-navbar-color);
  border: none;
  border-radius: 5rem;
  padding: 1rem 2rem 1rem 2rem;
  cursor: pointer;
}

.coogs-button:hover {
  background-color: var(--theme-navbar-highlight-color);
}

.coogs-button a{
  text-decoration: none;
  color: white;
  font-size: 1rem;
  font-weight: bold;
}

.coco-btn-website-container {
  top: 4rem;
  display: block;
  position: relative;
  margin: auto;
}

.about-coco-website {
  color: white;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 1rem;
  font-weight: bold;
  margin-right: 2rem;
}

.coco-btn-container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.coco-container {
  position: relative;
  width: fit-content;
}

.coco-waving {
  max-width: 6rem;
  height: auto;
  object-fit: contain;
  margin-right: 3rem;
}

.coco-compooter {
  max-width: 7rem;
  height: auto;
  object-fit: contain;
  margin-left: 3rem;
  margin-bottom: 1rem;
}

@media (max-width: 870px){
  
  .about-container{
    top: 7.5rem;
    padding: 0 3rem 0 3rem;
  }

  .coogs-button {
    padding: 0.75rem 1.5rem 0.75rem 1.5rem;
  }

  .about-coco-website {
    font-size: 0.875rem;
    margin-right: 0.5rem;
  }

  .coco-btn-website-container {
    top: 10rem;
  }

  .about-description{
    font-size: 1rem;
  }
  
  .coco-waving {
    max-width: 4.5rem;
    margin-right: 1.5rem;
  }
  
  .coco-compooter {
    max-width: 5rem;
    margin-left: 2rem;
    margin-bottom: 0;
  }

}

@media (max-width: 560px){

  .about-container{
    top: 6rem;
    padding: 0 3rem 0 3rem;
  }

  .coogs-button {
    padding: 0.75rem 1rem 0.75rem 1rem;
  }
  
  .about-description{
    font-size: 1rem;
  }

  .coogs-button a{
    font-size: 0.75rem;
  }

  .coco-waving {
    max-width: 4rem;
  }

  .coco-compooter {
    max-width: 5rem;
    margin-left: 1.75rem;
    margin-bottom: 0;
  }

  .coco-btn-website-container {
    top: 8rem;
  }

  .about-coco-website {
    font-size: 1rem;
  }
}

/* section about ends here */

/* section team starts here */

.section-team {
  background-color: var(--theme-background-color);
  height: fit-content;
}

.team-grid-columns {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 0rem 4rem 4rem 4rem;
}

.team-member {
  display: flex;
  flex-direction: column;
  align-items: center;
  flex-basis: 30%;
  padding: 4rem 0 1rem 0;
  background-color: var(--theme-navbar-color);
  margin: 1rem;
}

.team-member .person-img {
  width: 70%;
}

.team-member .name {
  padding-top: 1rem;
  font-size: 1.25rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

.pictures-not-included {
  padding: 1rem 1rem 2rem 1rem;
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
  color: white;
}

@media (max-width: 1090px){
  
  .team-grid-columns {
    padding: 0rem 1.5rem 1.5rem 1.5rem;
  }

  .team-member {
    padding: 2rem 0 0.5rem 0;
    margin: 0.75rem;
  }

  .team-member .person-img {
    width: 70%;
  }

  .team-member .name {
    font-size: 1rem;
  }

  .pictures-not-included {
    font-size: 1rem;
  }

}

@media (max-width: 870px) {

  .team-grid-columns {
    padding: 6rem 1.5rem 1.5rem 1.5rem;
  }
  
  .team-member {
    flex-basis: 40%;
    padding: 3rem 0 1rem 0;
  }

  .pictures-not-included {
    padding-bottom: 2rem;
  }

}

@media (max-width: 580px) {

  .team-grid-columns {
    padding: 5rem 2rem 2rem 2rem;
  }
  
  .team-member {
    flex-basis: 80%;
    padding: 2.5rem 0 1rem 0;
  }
  
  .pictures-not-included {
    padding-bottom: 1rem;
  }

}


@media (max-width: 400px) {
  .team-member .name {
    font-size: 1rem;
  }
}


/* section team ends here */

/* section projects starts here */

.section-projects{  
  background-color: var(--theme-background-color);
  height: 100vh;
}

.projects {
  position: relative;
  margin-top: 1rem;
  display: flex;
  justify-content: space-evenly;
}

.project-1 {
  flex-basis: 30%;
  margin: 0 1rem 0 1rem;
}

.project-2 {
  flex-basis: 30%;
  margin: 0 1rem 0 0;
}

.project-3 {
  flex-basis: 30%;
  margin: 0 1rem 0 0;
}

.project-card {
  display: block;
  position: relative;
  height: 21rem;
  background-color: var(--theme-navbar-color);
  border-radius: 4rem;
  padding: 1.5rem 3rem 2.75rem 3rem;
  z-index: 4;
}

.project-name {
  position: relative;
  font-size: 2rem;
  font-weight: bold;
  color: white;
  z-index: 0;
}

.project-description{
  font-size: 0.875rem;
  font-weight: bold;
  color: white;
}

.github-project-container {
  display: flex;
  position: relative;
  justify-content: space-between;
  align-items: center;
}

.github-icon {
  width: 32px;
  height: 32px;
}

@media (max-width: 1080px){

  .project-1 {
    flex-basis: 30%;
    margin: 0 1rem 0 1rem;
  }
  
  .project-2 {
    flex-basis: 30%;
    margin: 0 1rem 0 0;
  }
  
  .project-3 {
    flex-basis: 30%;
    margin: 0 1rem 0 0;
  }

  .project-card {
    height: 25rem;
  }
  
  .project-name {
    font-size: 1.5rem;
  }
  
  .github-icon {
    width: 22px;
    height: 22px;
  }

}
@media (max-width: 890px){

  .projects {
    margin-top: 5rem;
    flex-direction: column;
  }

  .project-1 {
    margin: 0 1.5rem 0rem 1.5rem;
  }
  
  .project-2 {
    margin: 0.75rem 1.5rem 0 1.5rem;
  }

  .project-3 {
    margin: 0.75rem 1.5rem 0 1.5rem;
  }

  .project-card {
    height: fit-content;
    border-radius: 2rem;
  }
  
  .project-name {
    font-size: 1.5rem;
  }
  
  .github-icon {
    width: 24px;
    height: 24px;
  }
  
}

@media (max-width: 660px){

  .section-projects {
    height: max-content;
  }

  .projects {
    margin-top: 3rem;
    padding: 2rem 0 2rem 0;
  }

  .project-card {
    height: fit-content;
    padding: 1.5rem 2rem 1.5rem 2rem;
  }
  
  .project-name {
    font-size: 1.5rem;
  }

}

/* section projects ends here */